---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="ja">
    <Head />
    <body class="antialiased bg-white text-nord-0 flex flex-col min-h-screen">
        <Header />
        <main class="container mx-auto flex-grow">
            <div class="mx-auto w-full px-6 xs:px-7 sm:px-10 max-w-screen-md">
                <div class="flex justify-center my-40">
                    <h1 class="text-7xl text-nord-1 font-normal">404</h1>
                </div>
                <div class="text-4xl flex flex-col justify-center my-28 leading-relaxed">
                    <!-- <p class="mx-auto">Oops... ページが見つかりません...</p> -->
                    <p class="mx-auto">まだ工事中！</p>
                </div>
            </div>
        </main>
        <Footer />
	</body>
</html>
