---

import yadonImage from '../images/yadon-and-clab.png';
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>息絶えた雑記</title>
	</head>
    <body class="antialiased bg-white text-nord-0 flex flex-col min-h-screen">
        <div class="sticky top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50">
            <div class="mx-auto w-full px-3 xs:px-4 sm:px-5 max-w-screen-md">
                <div class="py-4 border-slate-900/10 lg:px-8 lg:border-0 mx-4 lg:mx-0">
                    <div class="relative flex items-center">
                        <a href="/" class="flex items-center">
                            <span class="ms-2 text-nord-3 text-xl font-bold">息絶えた雑記</span>
                        </a>
                        <div class="relative hidden lg:flex items-center ml-auto">
                            <nav class="text-sm leading-6 font-semibold text-slate-700 dark:text-slate-200">
                                <ul class="flex space-x-8 text-lg">
                                    <li>
                                        <a class="hover:text-nord-7 text-nord-0" href="/about">About</a>
                                    </li>
                                    <li>
                                        <a class="hover:text-nord-7 text-nord-0" href="/posts">Posts</a>
                                    </li>
                                    <li>
                                        <a class="hover:text-nord-7 text-nord-0" href="/showcase">Gallery</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main class="container mx-auto flex-grow">
            <div class="mx-auto w-full px-6 xs:px-7 sm:px-10 max-w-screen-md">
                <div class="flex justify-center my-40">
                    <h1 class="text-7xl text-nord-1 font-normal">404</h1>
                </div>
                <div class="text-4xl flex flex-col justify-center my-28 leading-relaxed">
                    <!-- <p class="mx-auto">Oops... ページが見つかりません...</p> -->
                    <p class="mx-auto">まだ工事中！</p>
                </div>
            </div>
        </main>
        <footer class="bg-nord-6 mt-40">
            <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-500 sm:text-center text-nord-3">© 2024 wgdp
            </span>
            <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6 text-nord-3">GitHub</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6 text-nord-3">Twitter</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6 text-nord-3">BlueSky</a>
                </li>
            </ul>
            </div>
        </footer>
	</body>
</html>
