---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import LinkCard from "../components/LinkCard.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import CaptionImage from "../components/CaptionImage.astro";
import type { Ogp } from "../types/Ogp";
import { DEFAULT_THUMBNAIL } from "../util/const";
import { makeImageUrl } from "../util/image";

const { url } = Astro.props;
const ogp: Ogp = {
  title: "息絶えた雑記",
  description: "息絶えた雑記 About",
  thumbnail: DEFAULT_THUMBNAIL,
  url: url,
  pageType: "website",
};
---

<html lang="ja">
  <Head ogp={ogp} />
  <body class="antialiased bg-white text-nord-0 flex flex-col min-h-screen">
    <Header />
    <main class="container mx-auto flex-grow">
      <div class="mx-auto w-full px-6 xs:px-7 sm:px-10 max-w-screen-md">
        <div class="flex justify-center mt-32">
          <h1 class="text-7xl text-nord-1 font-normal">About</h1>
        </div>
        <ContentLayout>
          <h2>このブログについて</h2>
          <p>
            このブログはうぃどらの月の振り返りやゲームの感想、技術記事などを投稿する場所です。
          </p>
          <p>
            このブログを作成した意図としては、以下の記事を見て貰えればと思います。
          </p>
          <LinkCard url="https://blog.wgdp.dev/posts/first" />
          <p>また、うぃどらのことについては以下のプロフィールに記載しています。</p>
          <LinkCard url="https://profile.wgdp.dev" />
        </ContentLayout>
      </div>
    </main>
    <Footer />
  </body>
</html>
