---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import LinkCard from '../components/LinkCard.astro';
import ContentLayout from '../layouts/ContentLayout.astro';
import type { Ogp } from '../types/Ogp';
import { DEFAULT_THUMBNAIL } from '../util/const';

const { url } = Astro.props;
const ogp:Ogp = {
    title: "息絶えた雑記",
    description: "息絶えた雑記",
    thumbnail: DEFAULT_THUMBNAIL,
    url: url,
    pageType: "website"
}
---

<html lang="ja">
    <Head ogp={ogp} />
    <body class="antialiased bg-white text-nord-0 flex flex-col min-h-screen">
        <Header />
        <main class="container mx-auto flex-grow">
            <div class="mx-auto w-full px-6 xs:px-7 sm:px-10 max-w-screen-md">
                <div class="flex justify-center my-40">
                    <h1 class="text-7xl text-nord-1 font-normal">About</h1>
                </div>
                <ContentLayout>
                    <h2>はじめに</h2>
                    <p>こんにちは。wgdpと申します。</p>
                    <p>私は現在ソーシャルゲーム会社で働いているソフトウェアエンジニアです。</p>
                    <p>社内向けのビルドシステムを開発したり、認証基盤の開発、保守を行ったりしています。</p>
                    <p>たまにゲームのバックエンド開発をやったりもします。</p>

                    <h4 class="text-2xl">経歴</h4>
                </ContentLayout>
                <div class="mt-10">
                    <ol class="relative border-s border-nord-3">                  
                        <li class="mb-10 ms-4">
                            <div class="absolute w-3 h-3 bg-nord-3 rounded-full mt-1.5 -start-1.5"></div>
                            <time class="mb-1 text-sm font-normal leading-none text-nord-1">2022年 4月 ～ 現在</time>
                            <h3 class="text-md font-semibold text-nord-3 mb-1">ソーシャルゲーム会社</h3>
                            <p class="text-sm text-nord-10">CI/CD環境の整備、ゲームのバックエンド開発、社内システム、認証基盤等の開発、保守。</p>
                        </li>
                        <li class="mb-10 ms-4">
                            <div class="absolute w-3 h-3 bg-nord-3 rounded-full mt-1.5 -start-1.5"></div>
                            <time class="mb-1 text-sm font-normal leading-none text-nord-1">2019年 8月 ～ 2021年 12月</time>
                            <h3 class="text-md font-semibold text-nord-3 mb-1">EdTech系Webサービス会社</h3>
                            <p class="text-sm text-nord-10">Webサービスのフロントエンド、バックエンドの開発、運用。プログラミングコンテストの運営サポート。（問題解説等）</p>
                        </li>
                    </ol>
                </div>
                <ContentLayout>
                    <h2>このブログについて</h2>
                    <p>このブログを作成した意図としては、以下の記事を見て貰えればと思います。</p>
                    <LinkCard url="https://wgdp.dev/posts/first" />
                </ContentLayout>
                <ContentLayout>
                    <h2>趣味</h2>
                    <p>ゲームで遊ぶのが好きです。</p>
                    <p>話題のゲームで遊んだり、Steamやゲームメディアをウォッチして面白そうな新作ゲーム（インディー, AAA問わず）を発掘したりしています。</p>

                    <LinkCard url="https://steamcommunity.com/id/46498888" />

                    <p>おそらく最もプレイ時間が長いゲームはMinecraftです。
                    主に建築や工業Modなどで遊んでいます。</p>

                    <img src="https://image.r2.cloudflare.wgdp.dev/about-minecraft-house.png" alt="Minecraftで建築した家の例" class="my-10">

                    <p>他にも色々なゲームで遊んでいます。</p>
                    <div class="grid grid-cols-2 gap-4 my-10">
                        <img src="https://image.r2.cloudflare.wgdp.dev/about-game1.png" alt="崩壊スターレイル">
                        <img src="https://image.r2.cloudflare.wgdp.dev/about-game2.jpg" alt="Ark: Survival Evolved">
                        <img src="https://image.r2.cloudflare.wgdp.dev/about-game3.jpg" alt="Elden Ring">
                        <img src="https://image.r2.cloudflare.wgdp.dev/about-game4.jpg" alt="God of War">
                    </div>
                </ContentLayout>
                <ContentLayout>
                    <h2 class="font-bold text-3xl mt-10 mb-10">その他</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Song</th>
                                <th>Artist</th>
                                <th>Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>The Sliding Mr. Bones (Next Stop, Pottersville)</td>
                                <td>Malcolm Lockyer</td>
                                <td>1961</td>
                            </tr>
                        </tbody>
                    </table>
                </ContentLayout>
            </div>
        </main>
        <Footer />
	</body>
</html>
