---

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>工事中</title>
	</head>
	<body>
        <h1 class="text-8xl">工事中！</h1>

        <a href="/posts/test" class="text-nord-8 hover:underline text-xl">テスト記事</a>
	</body>
</html>
