---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import githubLogo from '../assets/github.png';
import xLogo from '../assets/x.png';
import type { Ogp } from '../types/Ogp';
import { DEFAULT_THUMBNAIL } from '../util/const';

const { url } = Astro.props;
const ogp:Ogp = {
    title: "息絶えた雑記",
    description: "息絶えた雑記",
    thumbnail: DEFAULT_THUMBNAIL,
    url: url,
    pageType: "website"
}
---

<html lang="ja">
    <Head ogp={ogp} />
    <body class="antialiased bg-white text-nord-0 flex flex-col min-h-screen">
        <Header />
        <main class="container mx-auto flex-grow
            prose-a:text-blue-600 hover:prose-a:underline
        ">
            <div class="mx-auto w-full px-6 xs:px-7 sm:px-10 max-w-screen-md">
                <div class="flex justify-center my-40">
                    <h1 class="text-7xl text-nord-1 font-normal">息絶えた雑記</h1>
                </div>
                <div class="text-2xl flex flex-col justify-center my-28 leading-relaxed">
                    <h1 class="text-4xl mx-auto mb-10">このサイトについて</h1>
                    <p class="mx-auto">思いつくままに何かを書きます。</p>
                    <p class="mx-auto">やる気次第で、技術やゲームの感想記事などが追加されていく予定。</p>
                    <p class="mx-auto"><a href="/posts">Posts</a> を覗いてみると記事が見れるかも...</p>
                </div>
                <div class="text-2xl flex flex-col justify-center my-28 leading-relaxed">
                    <h1 class="text-4xl mx-auto mb-10">あなたは誰？</h1>
                    <p class="mx-auto">wgdp （だぶりゅーじーでぃーぴー）と名乗っています。</p>
                    <p class="mx-auto text-sm mb-2">（呼びづらいので今後もっと呼びやすいハンドルネームに変えたい）</p>
                    <p class="mx-auto">より詳しいことは <a href="/about">About</a> にあるかもしれません。</p>
                    <img src="https://image.r2.cloudflare.wgdp.dev/yadon-and-clab.png" alt="ヤドンとカニ" class="mt-10 mb-5 h-40 w-40 mx-auto rounded-xl shadow">
                    <h2 class="text-2xl font-bold mx-auto mt-5">Link</h2>
                    <div class="flex mx-auto mt-5 prose-a:w-8 prose-a:mx-2">
                        <a href="https://x.com/yadonantoka"><img src={xLogo.src} alt="X リンク" /></a>
                        <a href="https://github.com/wgdp"><img src={githubLogo.src} alt="GitHub リンク" /></a>
                    </div>
                </div>
            </div>
        </main>
        <Footer />
	</body>
</html>
