---
import { makeImageUrl } from '../util/image'

interface Props {
  src: string
  alt: string
  textSize?: string
}
const { src, alt, textSize } = Astro.props
const size = textSize || "text-sm"

const imageUrl = makeImageUrl(src);
---
<div class="grid grid-cols-1 justify-center">
    <div><img src={imageUrl} alt={alt} loading="lazy"></div>
    <div class={"text-nord-3 " + size}>{alt}</div>
</div>