
<div class="sticky top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50">
  <div class="mx-auto w-full px-3 xs:px-4 sm:px-5 max-w-screen-md">
    <div class="py-4 border-slate-900/10 lg:px-8 lg:border-0 mx-4 lg:mx-0">
      <div class="relative flex items-center">
        <a href="/" class="flex items-center">
            <span class="ms-2 text-nord-3 text-xl font-bold">息絶えた雑記</span>
        </a>
        <div class="relative hidden lg:flex items-center ml-auto">
          <nav class="text-sm leading-6 font-semibold text-slate-700">
            <ul class="flex space-x-8 text-lg">
              <li>
                <a class="hover:text-nord-7 text-nord-0" href="/about">About</a>
              </li>
              <li>
                <a class="hover:text-nord-7 text-nord-0" href="/posts">Posts</a>
              </li>
              <li>
                <a class="hover:text-nord-7 text-nord-0" href="/showcase">Gallery</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>