---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import type { Props } from '../types/Props';
import type { Ogp } from '../types/Ogp'
import { getImageOrDefault } from '../util/image';
const { frontmatter, url, content } = Astro.props;

const markdownText = content.rawContent()
const ogp:Ogp = {
    title: frontmatter.title,
    description: markdownText.length <= 100 ? markdownText : markdownText.slice(0, 99),
    thumbnail: getImageOrDefault(frontmatter.thumbnail),
    url: url,
    pageType: "article"
}
---

<html lang="ja">
    <Head ogp={ogp} />
    <body class="antialiased bg-white text-nord-0 flex flex-col min-h-screen">
        <main class="flex-grow">
            <Header />
            <div class="mx-auto w-full px-6 xs:px-7 sm:px-10 max-w-screen-md">
                <div class="pt-28">
                    <img class="h-fit w-fit rounded-xl" src={getImageOrDefault(frontmatter.thumbnail)} alt="サムネイル">
                </div>
                <div class="mt-20 mb-5">
                    <h1 class="text-4xl font-black text-nord-2">{frontmatter.title}</h1>
                </div>
                <div class="mb-10">
                    {
                        frontmatter.tags.map((tag) => <span class="inline-flex items-center rounded-xl bg-nord-4 mx-1 px-2 py-1 text-xs font-medium">{tag}</span>)
                    }
                </div>
                <div class="
                    mt-16 flex flex-col gap-7 tracking-wide
                    prose-p:text-nord-1 prose-p:leading-relaxed sm:prose-p:text-mdlg prose-p:text-lg
                    prose-h1:font-bold prose-h1:text-4xl
                    prose-h2:font-bold prose-h2:text-3xl prose-h2:mt-10
                    prose-h3:font-normal prose-h3:text-3xl prose-h3:mt-10
                    prose-h4:font-normal prose-h4:text-2xl prose-h4:mt-10
                    prose-h5:font-normal prose-h5:text-xl prose-h5:mt-10
                    prose-h6:font-normal prose-h6:text-lg prose-h6:mt-10
                    prose-a:text-nord-8 hover:prose-a:underline prose-a:px-2
                    prose-pre:px-5 prose-pre:py-2 prose-pre:rounded-lg
                    prose-code:text-lg
                    prose-ol:list-decimal
                    prose-ul:list-disc
                    prose-li:text-nord-3 prose-li:leading-relaxed prose-li:sm:text-mdlg prose-li:text-lg prose-li:ms-5
                    prose-table:text-nord-3 prose-table:text-lg prose-table:table-auto prose-table:border prose-table:border-collapse prose-table:rounded-lg
                    prose-table:overflow-hidden prose-table:rounded-xl
                    prose-th:border-b prose-th:bg-nord-4 prose-th:py-2 prose-th:px-4 prose-th:border-nord-3
                    prose-td:bg-nord-6 prose-td:py-2 prose-td:px-4 prose-td:border-b prose-td:border-nord-4
                    prose-hr:border-nord-4
                    ">
                    <slot />
                </div>
            </div>
        </main>
        <Footer />
    </body>
</html>
