---
interface Frontmatter {
    title: string
    pubDate: Date
    description: string
    tags: string[]
}
interface Props {
    frontmatter: Frontmatter
}
const { frontmatter } = Astro.props;
---

<html>
    <body class="antialiased bg-white text-nord-0">
        <div>
            <div class="sticky top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50">
                <div class="mx-auto w-full px-3 xs:px-4 sm:px-5 max-w-screen-md">
                    <div class="py-4 border-slate-900/10 lg:px-8 lg:border-0 mx-4 lg:mx-0">
                        <div class="relative flex items-center">
                            <a href="/">
                                <img class="object-contain h-10 w-10" src="https://pbs.twimg.com/profile_images/1453387376550580224/EmkS3YYf_400x400.png" />
                            </a>
                            <div class="relative hidden lg:flex items-center ml-auto">
                                <nav class="text-sm leading-6 font-semibold text-slate-700 dark:text-slate-200">
                                    <ul class="flex space-x-8 text-lg">
                                        <li>
                                            <a class="hover:text-nord-7 text-nord-0" href="/about">About</a>
                                        </li>
                                        <li>
                                            <a class="hover:text-nord-7 text-nord-0" href="/posts">Posts</a>
                                        </li>
                                        <li>
                                            <a class="hover:text-nord-7 text-nord-0" href="/showcase">Gallery</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto w-full px-6 xs:px-7 sm:px-10 max-w-screen-md">
                <div class="mt-10 mb-5">
                    <h1 class="text-4xl font-black text-nord-2">{frontmatter.title}</h1>
                </div>
                <div class="mb-10">
                    {
                        frontmatter.tags.map((tag) => <span class="inline-flex items-center rounded-xl bg-nord-4 mx-1 px-2 py-1 text-xs font-medium">{tag}</span>)
                    }
                </div>
                <div class="
                    mt-16 flex flex-col gap-7 tracking-wide
                    prose-p:text-nord-3 prose-p:leading-relaxed sm:prose-p:text-mdlg prose-p:text-lg
                    prose-h1:font-bold prose-h1:text-4xl
                    prose-h2:font-bold prose-h2:text-3xl
                    prose-h3:font-normal prose-h3:text-3xl
                    prose-h4:font-normal prose-h4:text-2xl
                    prose-h5:font-normal prose-h5:text-xl
                    prose-h6:font-normal prose-h6:text-lg
                    prose-a:text-nord-8 hover:prose-a:underline prose-a:px-2
                    prose-pre:px-5 prose-pre:py-2 prose-pre:rounded-lg
                    prose-code:text-lg
                    prose-ol:list-decimal
                    prose-ul:list-disc
                    prose-li:text-nord-3 prose-li:leading-relaxed prose-li:sm:text-mdlg prose-li:text-lg
                    prose-table:text-nord-3 prose-table:text-lg
                    ">
                    <slot />
                </div>
            </div>
        </div>
    </body>
</html>
