<div class="
  mt-16 flex flex-col gap-7 tracking-wide
  prose-p:text-nord-1 prose-p:leading-relaxed prose-p:md:text-lg prose-p:text-base
  prose-h1:font-bold prose-h1:md:text-4xl prose-h1:text-3xl prose-h1:pt-[60px] prose-h1:mt-[-60px]
  prose-h2:font-bold prose-h2:md:text-3xl prose-h2:text-2xl prose-h2:mt-10 prose-h2:pt-[60px] prose-h2:mt-[-60px]
  prose-h3:font-bold prose-h3:md:text-2xl prose-h3:text-2xl prose-h3:mt-10 prose-h3:pt-[60px] prose-h3:mt-[-60px]
  prose-h4:font-bold prose-h4:md:text-xl prose-h4:text-xl prose-h4:mt-10 prose-h4:pt-[60px] prose-h4:mt-[-60px]
  prose-h5:font-bold prose-h5:md:text-lg prose-h5:text-lg prose-h5:mt-10 prose-h5:pt-[60px] prose-h5:mt-[-60px]
  prose-h6:font-bold prose-h6:md:text-lg prose-h6:text-base prose-h6:mt-10 prose-h6:pt-[60px] prose-h6:mt-[-60px]
  prose-a:text-nord-10 prose-a:underline hover:prose-a:text-nord-8 prose-a:px-2
  prose-pre:px-5 prose-pre:py-2 prose-pre:rounded-lg prose-pre:md:text-sm prose-pre:text-xs
  prose-ol:list-decimal
  prose-ul:list-disc
  prose-li:text-nord-3 prose-li:leading-relaxed prose-li:md:text-lg prose-li:text-base prose-li:ms-5
  prose-table:text-nord-3 prose-table:md:text-lg prose-table:text-base prose-table:table-auto prose-table:border prose-table:border-collapse prose-table:rounded-lg
  prose-table:overflow-hidden prose-table:rounded-xl
  prose-th:border-b prose-th:bg-nord-4 prose-th:py-2 prose-th:px-4 prose-th:border-nord-3
  prose-td:bg-nord-6 prose-td:py-2 prose-td:px-4 prose-td:border-b prose-td:border-nord-4
  prose-hr:border-nord-4
  prose-blockquote:italic prose-blockquote:p-4 prose-blockquote:my-4 prose-blockquote:border-s-4 prose-blockquote:border-nord-9 prose-blockquote:bg-nord-6  prose-blockquote:rounded-lg
  prose-img:rounded-xl">
  <slot />
</div>