<div class="
  mt-16 flex flex-col gap-7 tracking-wide
  prose-p:text-nord-1 prose-p:leading-relaxed sm:prose-p:text-mdlg prose-p:text-lg
  prose-h1:font-bold prose-h1:text-4xl
  prose-h2:font-bold prose-h2:text-3xl prose-h2:mt-10
  prose-h3:font-normal prose-h3:text-3xl prose-h3:mt-10
  prose-h4:font-normal prose-h4:text-2xl prose-h4:mt-10
  prose-h5:font-normal prose-h5:text-xl prose-h5:mt-10
  prose-h6:font-normal prose-h6:text-lg prose-h6:mt-10
  prose-a:text-nord-8 hover:prose-a:underline prose-a:px-2
  prose-pre:px-5 prose-pre:py-2 prose-pre:rounded-lg
  prose-code:text-lg
  prose-ol:list-decimal
  prose-ul:list-disc
  prose-li:text-nord-3 prose-li:leading-relaxed prose-li:sm:text-mdlg prose-li:text-lg prose-li:ms-5
  prose-table:text-nord-3 prose-table:text-lg prose-table:table-auto prose-table:border prose-table:border-collapse prose-table:rounded-lg
  prose-table:overflow-hidden prose-table:rounded-xl
  prose-th:border-b prose-th:bg-nord-4 prose-th:py-2 prose-th:px-4 prose-th:border-nord-3
  prose-td:bg-nord-6 prose-td:py-2 prose-td:px-4 prose-td:border-b prose-td:border-nord-4
  prose-hr:border-nord-4
  prose-img:h-fit prose-img:w-fit prose-img:rounded-xl">
  <slot />
</div>